name: Build and Publish Docker Image
on:
  push:
    branches: [ "main" ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout del repositorio
        uses: actions/checkout@v3

      - name: Login a GHCR
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_TOKEN }}

      - name: Construir y publicar imagen
        run: |
          LOWER_USER=$(echo "${GITHUB_REPOSITORY_OWNER}" | tr '[:upper:]' '[:lower:]')
          IMAGE_TAG=ghcr.io/$LOWER_USER/lab-docker-web:latest
          docker build -t $IMAGE_TAG .
          docker push $IMAGE_TAG
